button {
    color: #000
}
input,
textarea {color: #000;
}
input:focus,
textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}
.boton {
    color: #000;
}
$color-principal : #C89B57; 

$color-secundario: #DAC58B;